doctype html
html(lang='en')
    head
        title FB Login Callback - Smart House
        script.
            (function (window) {
                // Settings

                const URL_LOGIN_FB_WITH_ACCESS_TOKEN = '#{fbLoginWithAccessTokenUrl}';
                const URL_LOGIN_OAUTH_SUCCESS = '#{fbLoginSuccessUrl}';
                const URL_LOGIN_OAUTH_FAIL = '#{fbLoginFailUrl}';
                const LOCAL_STORAGE_KEY = '#{localStorageKey}';

                // Auth

                const accessToken = parseAccessToken();
                if (accessToken) {
                    loginByAccessToken(
                        accessToken,
                        function (data) {
                            saveTokenToLocalStorage(data.token);
                            redirectTo(URL_LOGIN_OAUTH_SUCCESS);
                        },
                        function () {
                            redirectTo(URL_LOGIN_OAUTH_FAIL);
                        }
                    );
                } else {
                    redirectTo(URL_LOGIN_OAUTH_FAIL);
                }


                // Functions

                /**
                 * @return {string|null}
                 */
                function parseAccessToken() {
                    const query = window.location.hash.substring(1);
                    const match = query.match(new RegExp('access_token=([^&]+)', 'i'));
                    if (!match) {
                        return null;
                    }

                    return match[1];
                }

                /**
                 * @param {string} accessToken
                 * @param {function} success
                 * @param {function} fail
                 * @returns {void}
                 */
                function loginByAccessToken(accessToken, success, fail) {
                    const url = URL_LOGIN_FB_WITH_ACCESS_TOKEN;
                    const params = 'access_token=' + accessToken;

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', url);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                let data;
                                try {
                                    data = JSON.parse(xhr.responseText);
                                } catch (e) {
                                    fail(e);
                                    return;
                                }

                                success(data);
                            } else {
                                fail(
                                    new Error(
                                        'Response error (' + xhr.status + ', ' + xhr.statusText + '): ' +
                                        xhr.responseText
                                    )
                                );
                            }
                        }
                    }
                    xhr.send(params);
                }

                /**
                 * @param {string} token
                 * @returns {void}
                 */
                function saveTokenToLocalStorage(token) {
                    window.localStorage.setItem(LOCAL_STORAGE_KEY, token);
                }

                /**
                 * @param {string} url
                 * @returns {void}
                 */
                function redirectTo(url) {
                     window.location = url;
                }
            })(window);
    body
    | Loading...
